.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
form {
  width: 600px;
}
label {
  font-size: 20px;
}
.field {
  width: 100%;
}
input {
  width: 100%;
  margin-top: 20px;
}
button {
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
}

.comment-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
